# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.snap

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/1/

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/10/10d980534e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/20/e05d31074f37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/39/f0a58cae4e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/42/700dbd554e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/49/b01f2dd94e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/4f/b03fa5554e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/55/90b017564e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/64/a0b9ab534e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/69/d09923114f37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/72/104806d74e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/87/004b1d554e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/8f/f02488934e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/94/d0a698534e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/97/203c77534e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/98/6039c4554e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/aa/5065cb554e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/c/9026b1554e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/ca/f0308f534e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/cb/4020d0554e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/d1/c02c02564e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/e/402410e44e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/eb/c0d29f534e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/f5/609273a24e37001817a09a7d9e2078ef

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/Acme-Newspaper/\.indexes/af/history\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/Acme-Newspaper/\.indexes/e4/b9/22/a/history\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/Acme-Newspaper/\.indexes/e4/b9/b3/6e/1a/history\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/Acme-Newspaper/\.indexes/e4/b9/b3/a8/history\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/Acme-Newspaper/\.indexes/e4/b9/db/f3/be/history\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/Acme-Newspaper/\.indexes/e4/b9/db/f9/history\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/Acme-Newspaper/\.indexes/history\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1012337571\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1027357392\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1046473592\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1047271605\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1061125241\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1134328621\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1174979907\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1189943714\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/11987391\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1257753676\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/135982335\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1435204433\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1457565322\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1553378406\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1556565359\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1588347189\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1625606723\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1729025670\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1750854840\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1796219316\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1824326779\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1829597626\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1906905299\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1931417883\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1935172375\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/2079491789\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/2166720441\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/2302864355\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/2400429188\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/24278961\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/2455611774\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/2489010314\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/2508145071\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/2715080826\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/2889332784\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/2980677983\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/3009200065\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/3081607873\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/3182832990\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/3203908722\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/3306102627\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/3310682016\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/3315582679\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/3351311655\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/3546293074\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/3666354688\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/3690446190\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/3784247873\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/387168593\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/3994115545\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/4038208739\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/4047503218\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/4051751722\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/4059142251\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/4084618416\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/4087663346\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/4090135219\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/4168171976\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/4228216594\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/4244062545\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/425169354\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/4253231581\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/4254243559\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/425871886\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/452480385\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/470117803\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/47640444\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/493924255\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/533424204\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/586522737\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/593760142\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/594211515\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/639800014\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/665063933\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/678493484\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/690977427\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/720578469\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/804700240\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/80843467\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/829659721\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/externalLibsTimeStamps

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/javaLikeNames\.txt

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/savedIndexNames\.txt

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/variablesAndContainers\.dat

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.ltk\.core\.refactoring/\.refactorings/\.workspace/2018/4/14/refactorings\.history

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.ltk\.core\.refactoring/\.refactorings/\.workspace/2018/4/14/refactorings\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/Acme-Newspaper\.lifecyclemapping

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/26522e0d83a422eed93329ece7565cfc/_0\.cfs

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_2

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/26522e0d83a422eed93329ece7565cfc/segments\.gen

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/26522e0d83a422eed93329ece7565cfc/write\.lock

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/500c945f2dc7f2292e372cc5bf1521ac/_0\.cfs

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/500c945f2dc7f2292e372cc5bf1521ac/segments_2

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/500c945f2dc7f2292e372cc5bf1521ac/segments\.gen

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/500c945f2dc7f2292e372cc5bf1521ac/write\.lock

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/Acme-Newspaper/org\.eclipse\.wst\.jsdt\.core/state\.dat

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/1935172375\.index\.tmp

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/Acme-Newspaper/org\.eclipse\.jdt\.core/state\.dat

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.jst\.jsp\.core\.prefs

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jst\.jsp\.core/jspsearch/3797965548\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0_1\.del

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3_1\.del

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4\.cfs

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/_5\.cfs

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_7

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments\.gen

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/workspacestate\.properties

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.team\.cvs\.core/\.running

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.wst\.jsdt\.core/indexes/4244062545\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.wst\.jsdt\.core/indexes/savedIndexNames\.txt

L10 Workspace/Acme-Newspaper/target/m2e-wtp/web-resources/META-INF/maven/Design-and-Testing/Acme-Newspaper/pom\.properties

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.jdt\.core/784830610\.index

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.m2e\.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_5

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/13/c06f72085737001812e2fa4192241108

L10 Workspace/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/19/80b7d7dc5637001812e2fa4192241108
